*.swp

.CFUserTextEncoding
.config
.cshrc
.docker
.lesshst
.m2/
.node_repl_history
.npm/
.profile
.python_history
.shrc
.ssh
.vim/
.viminfo
.z
.zcompdump-*
.zprofile
.zsh-update
.zsh_history
.zsh_sessions/


# OSX
Applications/
Desktop/
Documents/
Downloads/
.DS_Store
Library/
Movies/
Music/
Pictures/
Public/
.Trash/

dev/
workspace/
