*.swp
*.iml

.CFUserTextEncoding
.cargo/
.config
.cshrc
.cups/
.docker
.dropbox/
.lesshst
.m2/
.node_repl_history
.npm/
.profile
.python_history
.rustup/
.shrc
.ssh
.vim/
.viminfo
.z
.zcompdump-*
.zprofile
.zshenv
.zsh-update
.zsh_history
.zsh_sessions/


# OSX
Applications/
Desktop/
Documents/
Downloads/
.DS_Store
Library/
Movies/
Music/
Pictures/
Public/
.Trash/

dev/
workspace/
Dropbox/
experiments/

#work
.anyconnect
.aws
.bash_history
.bash_hotpads_mac
.bash_profile
.cisco/
.db_profiles/
.localized
.node-gyp/
.parallel/
docker/
n/
